.install-packages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.install-packages__title {
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  margin-top: 3vmin;
  margin-bottom: 3vmin;
}

.install-packages__form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  grid-gap: 2rem;
  grid-auto-flow: dense;
  margin-bottom: 3vmin;
}

.install-packages__label {
  margin: 0;
  line-height: 2;
  text-align: center;
  vertical-align: middle;
}

.install-packages__label:hover {
  background-color: var(--main-yellow-color);
  color: var(--main-black-color);
}

@media (orientation: portrait) {
  .install-packages__title {
    margin-top: 3vmax;
    margin-bottom: 3vmax;
  }

  .install-packages__form {
    margin-bottom: 3vmax;
  }
}
